*{
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar{
    background-color: white;
    width:7px;
}
::-webkit-scrollbar-thumb{
    background-color: crimson;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: darkred;
}